/*******************************************
SETTINGS
*******************************************/
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #363636;
    background: #816048;
}
.container {
    margin-top: 80px;
    margin-bottom: 15px;
    background: #fff;
}
.head .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.head .photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #816048;
    display: inline-block;
}


.head .head-container {
    margin-top: -8em;
    text-transform: uppercase;
}
.head .name-title h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.head .name-title h1::first-line {
    font-size: 1.6em;
    letter-spacing: -1px;
    font-weight: 800;
    line-height: 1.5em;
}
.head .name-title span {
    color: #8D1F37;
}
.head .name-title sup {
    opacity: 0.5
}
.box h2 {
    color: #8D1F37;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}
.box h2:before {
    content: '//';
    margin-right: 5px;
}
.box p {
    font-size: 1.3em;
    line-height: 1.5em;
}
.about-container h3 {
    font-size: 2.0em;
    color: #8D1F37;
    font-weight: 100;
}
.contact-item {
    width: 100%;
    float: left;
}
.contact-item .icon {
    padding: 10px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0.2;
}
.contact-item:last-child .icon {
    border-bottom: none;
}
.contact-item .fa {
    font-size: 2em;
}
.contact-item .title {
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0.9;
}
.contact-item .title.only {
    margin-top: 10px;
}
.contact-item .description {
    width: 80%;
    width: calc(100% - 55px);
    font-size: 1.2em;
    opacity: 0.7;
}
.experience {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}
.experience-container .duration {
    top: -0.5em;
    opacity: 0.7;
    padding-left: 1em;
    font-size: 0.6em;
}
.experience:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 29px;
    top: 0;
    content: ' ';
    display: block;
    background: #816048;
    background: -moz-linear-gradient(top, #ffffff 0%, #816048 7%, #816048 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, #816048), color-stop(89%, #816048), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #816048 7%, #816048 89%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #816048 7%, #816048 89%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #816048 7%, #816048 89%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #816048 7%, #816048 89%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.experience li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
}
.experience .year {
    width: 10%;
    background: #fff;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}
.experience .description {
    width: 80%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
}
.experience .description:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 8px;
    pointer-events: none;
}
.experience .description h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.experience .description h4 {
    font-size: 1.4em;
    color: #8D1F37;
    font-weight: 600;
}
.experience .description p {
    font-size: 1.3em;
    margin-top: 5px;
    padding: 0;
}
.skills {
    overflow: scroll;
    height: 440px;
}
.item-skills {
    height: 30px;
    background: #3E0F20;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    font-weight: 600;
}
.skills-legend {
    margin-top: 20px;
    opacity: 0.8;
}
.skills-legend:before {
    width: 100%;
    height: 3px;
    position: relative;
    content: ' ';
    display: block;
    margin-bottom: -13px;
    background: #c6c6c6;
}
.skills-legend div {
    width: 25%;
    display: inline-block;
    font-size: 1.2em;
    color: #a9a9a9;
    float: left;
}
.legend:before {
    width: 3px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background: #c6c6c6;
}
.legend-left.legend:before {
    margin-left: 0;
}
.legend-right.legend:before {
    margin-right: 0;
}
.legend-left:nth-child(2) span {
    margin-left: -25px;
}
.legend-right:nth-child(3) span {
    margin-right: -20px;
}
.legend-right {
    text-align: right;
}
.languajes .skill {
    font-size: 1.3em;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.languajes .skill .icons {
    width: 111px;
    height: 14px;
    background: url(../img/star-grey.png) no-repeat;
}
.languajes .skill .icons-red {
    background: url(../img/star-red.png) no-repeat;
}
.education .info {
    text-align: left;
}
.education {
    margin-bottom: 15px;
}
.education .where {
    font-size: 1.4em;
    font-weight: bold;
    color: #8D1F37;
}
.education .year {
    font-size: 1.3em;
    opacity: 0.7;
}
.education .profession {
    font-size: 1.6em;
    font-weight: bold;
}
.education .description {
    font-size: 1.1em;
    line-height: 1.6em;
}
